

.mainBox {
  height: 40vh;
  background: #2D637A;
}
.hero{
  font-size: 3rem;
}
.heroPara{
  margin-top: 5vh;
  font-size: 1.5rem;
  text-align: center;
  width: 50vw;
}
.servicesHeading{
  font-size: 32pt;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


.title,
.description {
  text-align: center;
}
.servicesContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
@media (max-width: 1200px) {
  .hero{
    font-size: 3rem;
  }
  .heroPara{
    margin-top: 5vh;
    font-size: 1.5rem;
    text-align: center;
    width: 70vw;
  }
  .servicesHeading{
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .hero{
    font-size: 2rem;
  }
  .heroPara{
    margin-top: 5vh;
    font-size: 1.25rem;
    text-align: center;
    width: 80vw;
  }
  .servicesHeading{
    font-size: 1.75rem;
  }


  
}

@media (max-width: 768px) {
  .hero{
    font-size: 2.25rem;
  }
  .heroPara{
    margin-top: 5vh;
    font-size: 1.25rem;
    text-align: center;
    width: 95vw;
  }
  .servicesHeading{
    font-size: 2rem;
  }
  
  

  
}



@media (max-width: 600px) {
  .hero{
    font-size: 1.5rem;
  }
  .heroPara{
    margin-top: 5vh;
    font-size: 1rem;
    text-align: center;
    width: 100vw;
  }
  .servicesHeading{
    font-size: 1.5rem;
    
  }
  


}
@media (max-width: 375px) {
  .hero{
    font-size: 1.25rem;
  }
  .heroPara{
    margin-top: 5vh;
    font-size: 1rem;
    text-align: center;
    width: 100vw;
  }
  .servicesHeading{
    font-size: 1.25rem;
  }
  


}

